Requirements

1) ray - pip install ray
2) opencv-python - pip install opencv-python
3) tensorflow - pip install tensorflow
4) prettytable - pip install prettytable
5) matplotlib - pip install matplotlib
6) Numpy - pip install numpy
7) cv/cv2 - pip install cv/ pip install cv2 

